/source/
/tests/
emerald-config.json
prettier.config.js
test.js
/dist/
node_modules/
.DS_Store
/test.js
/testing/
/docs/
/docs-source/
/examples/
/tests/
/source/
/test-performance/
/feathers-test-app/
/logo/

!/dist/fly-install.js
!/dist/fly-install.js.map